@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format(truetype);
}

:root {
  /* Colors */
  --clr-primary-400: hsl(252, 100%, 67%);
  --clr-primary-500: hsla(256, 72%, 46%, 1);
  --clr-secondary-400: hsl(241, 81%, 54%);
  --clr-secondary-500: hsla(241, 72%, 46%, 0);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(221, 100%, 96%);
  --clr-neutral-300: hsl(241, 100%, 89%);
  --clr-neutral-700: hsl(224, 30%, 27%);

  --clr-accent-1: hsl(0, 100%, 67%);
  --clr-accent-2: hsl(39, 100%, 56%);
  --clr-accent-3: hsl(166, 100%, 37%);
  --clr-accent-4: hsl(234, 85%, 45%);

  --gradient-primary: linear-gradient(
    var(--clr-primary-400),
    var(--clr-secondary-400)
  );

  --gradient-to-transparent: linear-gradient(
    var(--clr-primary-500),
    var(--clr-secondary-500)
  );

  --font-family-default: "HankenGrotesk";
}
