@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format(truetype);
}

:root {
  /* Colors */
  --clr-primary-hsl-400: 252, 100%, 67%;
  --clr-primary-hsl-500: 256, 72%, 46%, 1;
  --clr-secondary-hsl-400: 241, 81%, 54%;
  --clr-secondary-hsl-500: 241, 72%, 46%, 0;

  --clr-neutral-hsl-100: 0, 0%, 100%;
  --clr-neutral-hsl-200: 221, 100%, 96%;
  --clr-neutral-hsl-300: 241, 100%, 89%;
  --clr-neutral-hsl-700: 224, 30%, 27%;

  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-primary-500: hsla(var(--clr-primary-hsl-500));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));
  --clr-secondary-500: hsla(var(--clr-secondary-hsl-500));

  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
  --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
  --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));

  --clr-accent-1: hsl(0, 100%, 67%);
  --clr-accent-2: hsl(39, 100%, 56%);
  --clr-accent-3: hsl(166, 100%, 37%);
  --clr-accent-4: hsl(234, 85%, 45%);

  --gradient-primary: linear-gradient(
    var(--clr-primary-400),
    var(--clr-secondary-400)
  );

  --gradient-to-transparent: linear-gradient(
    var(--clr-primary-500),
    var(--clr-secondary-500)
  );

  /* Font family */
  --font-family-default: "HankenGrotesk";

  /* Font weight */
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-dark: 800;

  /* Font size */
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
picture,
video,
svg,
iframe {
  max-width: 100%;
  display: block;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100svh;
  font-family: var(--font-family-default);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: var(--clr-neutral-700);
}

/* Typography */
.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

/* Button */
.button {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  padding: 1rem 2rem;
  line-height: 1;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background: var(--gradient-primary);
}

.results-summary {
  --border-radius: 2rem;
  --content-padding: 2.5rem;
}

.results,
.summary {
  padding: var(--content-padding);
}

.results {
  background: var(--gradient-primary);
  color: hsl(var(--clr-neutral-hsl-100), 0.7);
  text-align: center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.grid-flow {
  display: grid;
  align-items: start;
  gap: 1rem;
}

.grid-flow[data-spacing="large"] {
  gap: 2rem;
}

.circle {
  display: grid;
  place-content: center;

  width: 12rem;
  margin-inline: auto;
  background: var(--gradient-to-transparent);
  aspect-ratio: 1 /1;
  border-radius: 50%;
}
